#!/usr/bin/make -f

# Enable for pre-build checks.
#include /usr/share/postgresql-common/pgxs_debian_control.mk

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_install:
	+pg_buildext loop postgresql-%v-pghashlib

override_dh_installdocs:
	dh_installdocs --all README.*

%:
	dh $@
